{{#extends 'base'}}
{{#block 'content'}}
<h1>Create New Slots by Date</h1>
<form method='POST' class='m-3'>
    {{{form}}}
    <input type='submit' value='Add Room Slots' class='btn btn-primary' />
</form>
{{/block}}
{{/extends}}