{{#extends 'base'}}
{{#block 'content'}}
<a href='/room-slots/create' class='btn btn-primary sm m-3 py-0' >Create New Slots</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Day Of Week</th>
            <th>Date</th>
            <th>Timeslot</th>
        </tr>
    </thead>
</table>
{{/block}}
{{/extends}}