{{#extends 'base'}}
{{#block 'content'}}
<h1 class='m-3'>Update Room Slot: {{roomSlot.id}} </h1>
<form class='m-3' method='POST'>
    {{{form}}}
    <input type='submit' value='Update Room Slot' class='btn btn-primary my-3'/>
    <a href='room-slots' class='btn btn-secondary sm my-3'>Cancel</a>
</form>
{{/block}}
{{/extends}}