{{#extends 'base'}}
{{#block 'content'}}
<h1>Delete Room Type: {{roomType.name}} </h1>
<form method='POST' class='m-3' >
    <div>
        <p>Are you sure you want to delete {{roomType.name}}?</p>
        <input type='submit' class='btn btn-danger' value='Yes' />
        <a href='/room-types' class='btn btn-success' >No</a>
    </div>
</form>

{{/block}}
{{/extends}}