{{#extends 'base'}}
{{#block 'content'}}
<h1 class='m-3' >Update Room Type: {{roomType.name}} </h1>
<form class='m-3' method='POST'>
    {{{form}}}
    <input type='submit' value='Update Room Type' class='btn btn-primary my-3' />
    <a href='/room-types' class='btn btn-secondary sm my-3' >Cancel</a>
</form>
{{/block}}
{{/extends}}