{{#extends 'base'}}
{{#block 'content'}}
<h1 class='m-3'>Login</h1>
<p class='m-3'>Please login with your account</p>
<form method='POST' class='m-3'>
    <input type='hidden' name='_csrf' value='{{csrfToken}}' />
    {{{form}}}
    <input type='submit' class='btn btn-primary' value='Login' />
</form>
{{/block}}
{{/extends}}