{{#extends 'base'}}
{{#block 'content'}}
<h1>User Profile</h1>
<a href='/users/logout' class='btn btn-primary btn-sm'>Log Out</a>
<ul>
    <li>Username: {{user.username}} </li>
    <li>Email: {{user.email}} </li>
</ul>
{{/block}}
{{/extends}}